<?xml version="1.0"?>
<phpunit bootstrap="tests/phpunit/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite name="Ma Galerie Automatique">
            <directory suffix="Test.php">tests/phpunit</directory>
        </testsuite>
    </testsuites>
</phpunit>
